errorMsg {
    color: orangered;
}
select {
   background: rgba(0, 0, 0, 0) url("../icons/icon-black-dropdown.svg")  no-repeat scroll 100% center / 20px 14px !important;
}


.flex-container {
    display: flex;
    flexDirection: 'row';
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 50px;
}
