
.head-text {
    position: relative;
}
.text-on-image {
    position: absolute;
    padding-top:20px;
    padding-bottom:20px;
    right: 30%;
    left: 30%;
    bottom: 35%;
    color: black;
    background-color:rgba(255,255,255,0.9);
}

