html,
body,
.root {
    height: 100%;
}

body {
    line-height: 1.5;
}

body,
.app {
    background: white;
}

/* main page */

.list-properties-title h1 {
    font-weight: 400;
    margin: 0;
    color: white;
}

.list-properties-content {
    padding: 0 0 80px;
    flex: 1;
}

.property-address,
.property-zip_code {
    font-size: 0.8em;
}

.property-address {
    margin-top: 10px;
}

.property-zip_code {
    color: #999;
}

.property-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.property-status-changer {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 120px;
    height: 40px;
    border-radius: 50%;
    background: #5d75ac url("./icons/arrow-drop-down.svg") no-repeat center;
    background-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.add-properties {
    left: 25px;
    top: 100px;
  }
  
  .add-properties button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(15,113,256,1) url("./icons/add.svg") no-repeat center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(122, 15, 112, 0.16), 0 3px 6px rgba(161, 29, 29, 0.23);
    font-size: 0;
    outline: 0;
  }

.property-status-changer select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.wrappa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
